body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #d9d7dd;
}

.clock {
  border-radius: 100%;
  background: #ffffff;
  border: 5px solid white;
  box-shadow: 0 0 26px 50px rgb(225 177 51);
}

.watch {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.hour {
  background: black;
  position: absolute;
  height: 85px;
  width: 10px;
  top: -27%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom center;
  transform: rotate(50deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  animation: hour;
  animation-duration: 86400s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hour {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.minute {
  background: black;
  position: absolute;
  height: 115px;
  width: 8px;
  top: -34%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom center;
  transform: rotate(90deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  animation: minute;
  animation-duration: 3600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes minute {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.second {
  background: rgb(254, 3, 3);
  position: absolute;
  height: 155px;
  width: 6px;
  top: -47%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom center;
  transform: rotate(130deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  animation: second;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

@keyframes second {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dot {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 2;
}
.name {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 42%;
  left: 70%;
  right: 10%;
  bottom: 0;
  font-family: "Delicious Handrawn", cursive;
  font-size: 2rem;
}
.time {
  position: absolute;
  top: 45%;
  left: 10%;
  border: 1px solid #fff8dc;
  background-color: #fff;
  padding: 5px;
  display: block;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  min-width: 70px;
  height: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.small {
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.3rem;
}
