* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Exo 2", sans-serif;
  font-size: 40%;
  color: #0f0f0f;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--white);
}
:root {
  --white: #f0f0f0;
  --red: #be3144;
  --blue: #45567d;
  --black: #0f0f0f;
}
header,
.section4 {
  color: var(--black);
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.heading {
  font-size: 8rem;
}
.heading1 {
  letter-spacing: 5px;
  line-height: 0;
}
.section1 {
  text-align: center;
}
.icon {
  padding: 10px;
  border: 1px solid white;
  font-size: 2.5rem;
}
.icon:hover {
  border: 1px solid blue;
  border-radius: 20px;
  background-color: lightblue;
}
i {
  padding: 0 4px;
  color: rgba(99, 99, 8, 0.89);
}
a {
  text-decoration: none;
}
.section2 {
  padding: 20px;
  text-align: center;
}
nav {
  text-indent: 14rem;
}
nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
nav > ul {
  background-color: rgba(230, 127, 42, 0.311);
}

nav > ul > li {
  display: inline;
  font-size: 2.5rem;
  padding: 10px 20px;
}

nav > ul > li:hover {
  background-color: yellow;
}
.section3 {
  width: 100%;
  height: 60vh;
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-position: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec333{
  display: flex;
  align-items: center;
  flex-flow: column;
}
.sec3_0 {
  font-size: 6rem;
  color: #0f0f0f;
  padding: 10px;
}
.sec3_1 {
  width: 50%;
  padding: 10px;
  opacity: 0.5;
  border-radius: 10px;
  border: none;
}
.sec4 {
  font-size: 6rem;
}
.section5 {
  color: #0f0f0f;
  text-align: center;
}
.sec5:hover {
  border-bottom: 2px solid #0f0f0f;
}
.sec5 {
  display: inline;
  font-size: 2.5rem;
  padding: 10px 20px;
}
.section6 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 45px;
  row-gap: 35px;
  justify-content: space-evenly;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #fff;
}
.card:hover {
  border: 1px solid rgb(67, 113, 219);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
span {
  color: #0f0f0f;
}

.sec02 {
  text-decoration: line-through;
  padding: 5px;
}
.addcart {
  border: 1px solid green;
  border-radius: 50px;
  padding: 10px;
  color: green;
  background-color: #fff;
  margin-top: 5px;
  cursor: pointer;
}
.addcart:hover {
  background-color: green;
  color: #fff;
}
.section7 {
  width: 100%;
  height: 60vh;
  display: flex;
  padding: 20px;
  column-gap: 40px;
  justify-content: center;
}
div.background {
  background-image: url(/image/zs1.png);
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-size: cover;
}
div.background1 {
  background-image: url(/image/zs2.png);
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-size: cover;
}
div.background2 {
  background-image: url(/image/zs3.png);
  border: 1px solid black;
  width: 300px;
  height: 150px;
  background-size: cover;
}
div.background3 {
  background-image: url(/image/zs4.png);
  border: 1px solid black;
  width: 300px;
  height: 150px;
  background-size: cover;
}
div.background p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.section8 {
  background-image: url(/image/S.png);
  width: 100%;
  height: 60vh;
  background-size: cover;
  padding: 10px;
  position: relative;
}
.internal-text {
  position: absolute;
  display: flex;
  flex-flow: column;
  top: 75px;
}
.sec08 {
  color: #000000;
  font-size: 4rem;
  width: 70%;
  left: 20px;
}
.btn {
  width: 50%;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}
.section9 {
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding: 20px;
}
.sec9 {
  display: flex;
  justify-content: space-around;
  padding: 30px 30px 0 30px;
}
ul {
  padding: 20px;
}
li {
  padding: 10px 0;
  list-style: none;
}
.address {
  display: flex;
  justify-content: space-around;
}
.last {
  padding: 10px;
  font-size: 2.5rem;
}

@media screen and (max-width: 468px) {
  html {
    font-size: 30%;
  }
  .section3,
  .section8 {
    width: 100%;
    height: 30vh;
  }
  .sec3_0 {
    font-size: 4.5rem;
  }
  .sec3_1 {
    width: 30%;
  }
  .sec08 {
    font-size: 3rem;
  }
  .btn {
    width: 24%;
    font-size: 1rem;
  }
  .section6 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }
}



